diffusers==0.30.0
torch
torchvision
transformers==4.44.0
accelerate
safetensors
einops
onnxruntime-gpu
spaces
omegaconf
peft
huggingface-hub
opencv-python
insightface
gradio
controlnet_aux==0.0.9
gdown
peft